*{
  padding: 0;
  margin: 0;
  font-family:  sans-serif;
  box-sizing: border-box;
}
.hero{
  height: 110vh;
  width: 100%;
  background-image: url(img.img/background.png);
  background-size: cover;
  background-position: center;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 45px;
  padding-right:8% ;
  padding-left: 8%;
}
.logo{
  color: white;
  font-size: 35px;
  letter-spacing:1px ;
  cursor: pointer;

}
span{
  color: rgb(84, 207, 216);
}
nav ul li{
  list-style-type: none;
  display: inline-block;
  padding: 10px 25px;
}
nav ul li a{
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
}
nav ul li a:hover{
  color: blue;
  transition: .4s;
}
.content{
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
}
h1{
  color: white;
  margin: 20px 0px 20px;
  font-size: 75px;
}
h3{
  color: white;
  font-size: 28px;
  margin-bottom: 50px;
}
h4{
  color: rgb(255, 255, 255);
  letter-spacing: 2px;
  font-size: 20px;
}
.about{
  width: 100%;
  padding: 100px 0px;
  background-color:rgb(44, 127, 127) ;

}
.about img{
  height:auto ;
  width:430px ;
  border-radius: 2rem;
}
.about-text{
  width: 550px;

}
.main{
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.about-text h2{
  color: white;
  font-size: 75px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.about-text h5{
  color: white;
  letter-spacing: 2px;
  font-size: 22px;
  text-transform: capitalize;
}
.about-text p{
  color: rgb(47, 73, 73) ;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}
button{
  background-color: rgb(61, 157, 153);
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius:30px; 
  transition: .4s;
}
button:hover{
  background-color: transparent;
  border: 2px solid;
  cursor: pointer;
}
.service{
  background: rgb(32, 91, 91);
  width: 100%;
  padding: 100px 0px;
}
.title h2{
  color: white;
  font-size: 75px;
  width: 1130px;
  margin: 30px auto;
  text-align: center;
}
.box{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}
.card{
  height: 365px;
  width: 335px;
  padding: 20px 35px;
  background:rgb(50, 132, 132) ;
  border-radius: 20px;
  margin: 15px;
  position: relative;
  overflow: hidden;
  text-align: center;
}
.card i{
  font-size: 50px;
  display: block;
  text-align: center;
  margin: 25px 0px;
  color: rgb(255, 255, 255);

}
h5{
  color: white;
  font-size: 23px;
  margin-bottom: 15px;

}
.pra p{
  color: rgb(47, 73, 73);
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 25px;
}
.card .button{
  background-color: rgb(61, 157, 153);
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 9px 22px;
  border-radius:30px; 
  transition: .4s;
}
.card .button:hover{
  background-color: transparent;
  border: 2px solid;
  cursor: pointer;
}
.contact-me{
  width: 100%;
  height: 290px;
  background:rgb(31, 62, 65) ;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.contact-me p{
  color: white;
  font-size:30px ;
  font-weight: bold;
  margin-bottom: 25px;
}
.contact-me .button-two{

  background-color: rgb(61, 157, 153);
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius:30px; 
  transition: .4s;

}
.contact-me .button-two:hover{
  background-color: transparent;
  border: 2px solid;
  cursor: pointer;
}
.newslatter form{
  width: 380px;
  max-width: 100%;
  position: relative;
}
.newslatter form input:first-child{
  display: inline-block;
  width: 100%;
  padding: 14px 130px 14px 15px;
  border: 2px solid rgb(64, 131, 131);
  outline: none;
  border-radius: 30px;
}
.newslatter form input:last-child{
  position:absolute ;
  display: inline-block;
  outline: none;
  border: none;
  padding: 10px 30px;
  border-radius: 30px;
  background-color: cyan;
  color: white;
  box-shadow: 0px 0px  5px #000,0px 0px 15px#858585;
  top: 6px;
  right: 6px;
}